[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pillow = "*"
jupyter = "*"
matplotlib = "*"
ipython = "*"
ipywidgets = "*"

[dev-packages]

[requires]
python_version = "3.13"
